@page "/"

<PageTitle>Home</PageTitle>

<div class="align-content-center text-md-center">
    <h1>Witaj na stronie Oceny Polskich Hoteli</h1>
    <p>Dodaj swoją recenzję lub hotel lub sprawdź ocenę wybranego hotelu</p>
    <br/>
    <img src="https://www.iconexperience.com/_img/v_collection_png/256x256/shadow/hotel.png"   alt="ikona hotelu"/>
</div>
